name: 'Test Report'

on:
  workflow_run:
    workflows: ['Unit Tests']                     # runs after CI workflow
    types:
      - completed
  
permissions:
  checks: write
  contents: write
  pull-requests: write

jobs:
  report:
    runs-on: ubuntu-latest
    steps:
    - uses: dorny/test-reporter@v1
      with:
        artifact: test-results
        name: Tests
        path: '*.trx'
        reporter: dotnet-trx