name: Unit Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:

    strategy:
      matrix:
        configuration: [Debug]

    runs-on: windows-latest 

    env:
      Test_Project_Path: src\StravaUploader.Tests\StravaUploader.Tests.csproj
      Test_Report_Path: src\StravaUploader.Tests\TestResults\test-results.trx
      
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Install .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 6.0.x
        include-prerelease: true

    - name: Execute unit tests
      run: dotnet test ${{ env.Test_Project_Path }} --logger "trx;LogFileName=test-results.trx"

    - uses: actions/upload-artifact@v2  
        if: ${{ always() }}
        with:
          name: test-results
          path: ${{ env.Test_Report_Path }}
